---
layout: layout-post.njk
title: Acerda de...
description: datos personales
tags: ["Personajes", "Principales"]
date: "2024-02-22"
---


<h1>{{ title }}</h1>

<p class = "text-center">Articulo creado por Fabian Antonio Leos Tlatoa</p>
 
 <p class = "text-center">Estudiante de la carrera: Desarrollo de Software Interactivo y Videojuegos</p>
 <p class = "text-center"> siendo la entrega del proyecto final de Programación En Lenguajes Interpretados</p>





</p>
