---
layout: layout-post2.njk
title: Articulos
description: lista de los articulos 
tags: ["Personajes", "Principales"]
date: "2024-02-22"
---

<h1>{{ title }}</h1>
<hr>
            <div class="search-wrapper">
              <label for="search">Buscar Articulo</label>
              <input type="text" name="buscador" id="buscador" placeholder="Buscar...">
            </div>
            <hr>

    <div>
      <ul>
        <li> <a href="/"  class="  fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ">Menu</a></li
        <li> <a href="/S1"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S1</a></li>
        <li> <a href="/S2"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S2</a></li>
        <li> <a href="/S3"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S3</a></li>
        <li> <a href="/S4" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S4</a></li>
        <li> <a href="/S5"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S5</a></li>
        <li> <a href="/S6"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S6</a></li>
        <li> <a href="/S7" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S7</a></li>
        <li> <a href="/S8"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S8</a></li>
        <li> <a href="/S9" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S9</a></li>
        <li> <a href="/S10"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S10</a></li>
        <li> <a href="/S11" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S11</a></li>
        <li> <a href="/S12"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S12</a></li>
        <li> <a href="/S13"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S13</a></li>
        <li> <a href="/S14"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S14</a></li>
        <li> <a href="/S15" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">S15</a></li>
        
        <ul>
      <div>
  